<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" href="{{ asset('css/dashboard/dashboard.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>
    <body>
        <div class="board">
            <div class="top-board">
                <ul>
                    <li>

                        <i class="fa fa-home fa-lg"></i><a href="{{ path('DashBoard') }}">Acceuil</a>
                    </li>
                    {% if user.role.id == 1 %}
                        <li>
                            <i class="fa fa-user fa-lg"></i><a href="{{ path('alluser') }}">Les Visiteurs</a>
                        </li>
                        <li>
                            <i class="fa fa-car fa-lg"></i><a href="{{ path('allcar') }}">Les Voitures</a>
                        </li>
                        <li>
                            <i class="fa fa-file fa-lg"></i><a href="{{ path('allreport') }}">Les Frais</a>
                        </li>
                        <li>
                            <i class="fa fa-car fa-lg"></i><a href="{{ path('allbrands') }}">Les Marques</a>
                        </li>
                        <li>
                            <i class="fa fa-user-md fa-lg"></i><a href="{{ path('alldoctor') }}">Les Docteurs</a>
                        </li>
                        <li>
                            <i style="margin-left: -5px" class="fa fa-clinic-medical fa-lg"></i> <a href="{{ path('alloffice') }}">Les Cabinets</a>
                        </li>
                    {% endif %}
                        <li>
                            <i class="fa fa-file fa-lg"></i><a >Mes Frais</a>
                        </li>
                    {% if user.vehicle != NULL  %}
                        <li>
                            <i class="fa fa-car fa-lg"></i><a >Ma Voiture</a>
                        </li>
                        <li>
                            <i class="fa fa-car-crash fa-lg"></i><a >Mes Reparations</a>
                        </li>
                    {% endif %}
                        <li>
                            <i class="fa fa-handshake fa-lg"></i><a >Mes Visites</a>
                        </li>
                </ul>
            </div>
            <div class="down-board">
                <div class="down-board-tab">
                    <ul>
                        <li>
                            <i class="fas fa-ellipsis-v"></i><a >Parametre</a>
                        </li>
                        <li>
                            <i class="fas fa-sign-out-alt"></i><a href="{{ path('logout') }}"> Déconnexion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block body %}
    {% endblock %}
    </body>
</html>